extends ../layouts/backend

block head
    link(rel="stylesheet", href="/vendor/fileupload/css/jquery.fileupload-ui.css")

block content
    div.page-header
        h2
            a(href="/admin/template") Templates
            |  / Add new template

    include ../partial/flash

    ul.nav.nav-tabs
        li.active
            a(href="#general", data-toggle="tab") General
        li
            a(href="#files", data-toggle="tab") Files

    div.tab-content
        div#general.tab-pane.active
            form#addTemplateForm.form-horizontal(action="/admin/template/add", method="post")
                div.form-group
                    label.control-label.col-lg-2 Name
                    div.col-lg-6
                        input.form-control(type="text", name="name")

                div.form-group
                    label.control-label.col-lg-2 Demo URL
                    div.col-lg-8
                        input.form-control(type="text", name="demo_url", placeholder="http://")

                div.form-group
                    label.control-label.col-lg-2 Description
                    div.col-lg-6
                        textarea.form-control(name="description", rows=6)

                div.form-group
                    label.control-label.col-lg-2 Tags
                    div.col-lg-8
                        input.form-control(type="text", name="tags")
                        small.help-block Separate tags by a comma

                div.form-group
                    label.control-label.col-lg-2 Software versions
                    div.col-lg-6
                        input.form-control(type="text", name="software_versions")

                div.form-group
                    label.control-label.col-lg-2 Supported browsers
                    div.col-lg-6
                        input.form-control(type="text", name="browsers", placeholder="IE 8+, Opera, Firefox, Chrome, Safari")

                div.form-group
                    label.control-label.col-lg-2 High resolution
                    div.col-lg-6
                        div.btn-group
                            button.btn.btn-default.highResolutionButton(type="button", value="yes") Yes
                            button.btn.btn-default.highResolutionButton(type="button", value="no") No
                            button.btn.btn-default.highResolutionButton.active(type="button", value="n/a") N/A
                        input(type="hidden", name="high_resolution", value="n/a")

                div.form-group
                    label.control-label.col-lg-2 Year
                    div.col-lg-2
                        input.form-control(type="text", name="year", value="#{year}")

                div.form-group
                    div.col-lg-10.col-lg-offset-2
                        div.checkbox
                            label
                                input(type="checkbox", name="free", value="1")
                                | Free

                div.form-group
                    div.col-lg-10.col-lg-offset-2
                        div.checkbox
                            label
                                input(type="checkbox", name="responsive", value="1", checked)
                                | Support responsive

                div.form-group
                    label.control-label.col-lg-2 Thumbnail
                    div.col-lg-10
                        div.btn.btn-default.fileinput-button
                            span Upload thumbnail
                            input#thumbnailUploader(type="file", name="thumbnail", data-url="/admin/thumb")
                        div(style="margin-top: 20px;")
                            div.progress.progress-striped.active.hide
                                div#thumbProgress.progress-bar.progress-bar-success(style="width: 100%;")
                        div.tb-tmpl-thumb
                        input(type="hidden", name="thumbs")

                hr

                div.form-group
                    div.col-lg-10.col-lg-offset-2
                        button#saveButton.btn.btn-primary(type="submit") Add
                        input(name="uploaded_files", type="hidden")

        div#files.tab-pane
            table.table.hide
                thead
                    tr
                        th File name
                        th Description
                        th File size
                        th Actions
                tbody#uploadedFiles

            div.text-center
                p You can choose many files at the same time
                div.btn.btn-default.fileinput-button
                    span Upload files
                    input#uploader(type="file", name="files[]", data-url="/admin/upload", multiple)

            div.col-lg-8.col-lg-offset-2(style="margin-top: 20px;")
                div.progress.progress-striped.active.hide
                    div#progress.progress-bar.progress-bar-success(style="width: 0%;")

    // Remove file confirmation dialog
    div#removeFileDialog.modal.fade.in
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Remove file
                div.modal-body
                    div Are you sure you want to remove this file?
                    div.text-danger This action cannot be undone.
                div.modal-footer
                    button.btn.btn-danger.yesButton Yes
                    button.btn.btn-default(data-dismiss="modal") No


block footerScript
    script(type="text/javascript", src="/vendor/fileupload/js/vendor/jquery.ui.widget.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.iframe-transport.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.fileupload.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.fileupload-process.js")
    script(type="text/javascript", src="/vendor/filesize/filesize.min.js")
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Form validator
            $('#addTemplateForm').bootstrapValidator({
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The template name is required'
                            }
                        }
                    },
                    demo_url: {
                        validators: {
                            notEmpty: {
                                message: 'The demo URL is required'
                            },
                            uri: {
                                message: 'The demo URL is not a valid URL'
                            }
                        }
                    },
                    year: {
                        validators: {
                            notEmpty: {
                                message: 'The publishing year is required'
                            },
                            regexp: {
                                regexp: /^\d{4}$/,
                                message: 'The publishing year is not valid'
                            }
                        }
                    }
                }
            });

            // Uploader handler
            $('#uploader').fileupload({
                dataType: 'json',
                autoUpload: true,
                url: '/admin/upload',
                start: function(e) {
                    $('#saveButton').attr('disabled', 'disabled');
                },
                done: function(e, data) {
                    $('#uploadedFiles').parent().removeClass('hide');
                    $.each(data.result.files, function(index, file) {
                        var $tr = $('<tr/>').appendTo('#uploadedFiles')
                                            .append($('<td/>').html(file.name))
                                            .append($('<td/>').append($('<input/>').attr('type', 'text').addClass('form-control descriptionText')))
                                            .append($('<td/>').html(filesize(file.size)));
                        $('<td/>').appendTo($tr)
                                  .append($('<button/>').addClass('btn btn-danger removeButton').html('Remove'));

                        $tr.data('file', file);
                    });

                    $('#saveButton').removeAttr('disabled');
                }
            });

            var socket = io.connect();
            socket.on('uploadProgress', function(progress) {
                $('#progress').parent().addClass('progress-striped').removeClass('hide').end().css('width', progress);
                if (progress == '100%') {
                    $('#progress').parent().removeClass('progress-striped');
                }
            });

            // Upload thumbnail
            $('#thumbnailUploader').fileupload({
                dataType: 'json',
                start: function(e) {
                    $('#saveButton').attr('disabled', 'disabled');
                    // Show the thumbnail generating progress
                    $('#thumbProgress').parent().removeClass('hide');
                },
                done: function(e, data) {
                    $('#thumbProgress').parent().addClass('hide');
                    $('#saveButton').removeAttr('disabled');
                    $('input[name="thumbs"]').val(JSON.stringify(data.result.files));
                    $('.tb-tmpl-thumb').html('').append($('<img/>').attr('src', '#{thumbPrefixUrl}' + data.result.files.original));
                }
            });

            $('#saveButton').on('click', function(e) {
                // Collect uploaded files
                var uploadedFiles = [];
                $('#uploadedFiles').find('tr').each(function() {
                    uploadedFiles.push($(this).data('file'));
                });

                $('input[name="uploaded_files"]').val(JSON.stringify(uploadedFiles));
                $(this).parent('form').submit();
            });

            // Update file description handler
            $('#uploadedFiles').on('keyup', '.descriptionText', function() {
                $(this).parents('tr').data('file').description = $(this).val();
            });

            // Remove file handler
            $('#uploadedFiles').on('click', '.removeButton', function() {
                var $that = $(this), removeFileDialog = $('#removeFileDialog');
                removeFileDialog
                    // Yes button click handler
                    .find('.yesButton')
                        .off('click')
                        .on('click', function() {
                            $that.parents('tr').remove();
                            removeFileDialog.modal('hide');
                        })
                        .end()
                    .modal('show');
            });

            // Update high resolution option
            $('.highResolutionButton').on('click', function() {
                $(this).addClass('active').parent('btn-group').find('button').removeClass('active');
                $('input[name="high_resolution"]').val($(this).val());
            });
        });