extends ../layouts/backend

block content
    div.page-header
        h2
            | Templates
            span.pull-right
                a.btn.btn-default(href="/admin/template/add") Add new template