.page-header {
  margin-top: 20px; }

.tab-content {
  margin-top: 20px; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.main {
  padding-top: 80px; }

.push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.main-content {
  margin: 15px 0; }

.tb-uploader {
  border: 2px dashed #c0c0c0;
  width: 100%;
  height: 100%; }
  .tb-uploader .tb-uploader-help {
    margin: 0 auto;
    text-align: center; }
