/**
 * Templates/Extensions manager. Powered by MEAN stack
 *
 * @link    http://github.com/nghuuphuoc/templatemanager
 * @author  http://twitter.com/nghuuphuoc
 */
.page-header {
  margin-top: 20px; }

.tab-content {
  margin-top: 20px; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.main {
  padding-top: 80px; }

.push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.main-content {
  margin: 15px 0; }

.tb-tmpl-thumb {
  border: 2px dashed #c0c0c0;
  margin-top: 20px;
  width: 240px;
  height: 180px; }
  .tb-tmpl-thumb img {
    width: 100%;
    height: 100%; }

.tb-tmpl-item {
  margin-bottom: 30px; }
  .tb-tmpl-item h3 {
    text-align: center; }
