.tpl-body .navbar, .tpl-body .nav {
  height: 50px; }
.tpl-body .nav > li {
  /*border-left: 1px solid #e5e5e5;*/
  height: 100%; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.main {
  padding-top: 80px; }

.push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.main-content {
  margin: 15px 0; }

.tpl-items, .tpl-filter {
  margin: 49px auto 0 auto;
  max-height: 400px;
  border: 1px solid #e5e5e5; }

.tpl-item-list {
  list-style-type: none;
  padding-top: 20px; }
  .tpl-item-list li img {
    width: 100%; }
