.tpl-body {
  background: #2c3e50; }
  .tpl-body .navbar, .tpl-body .nav {
    height: 59px; }
  .tpl-body .nav > li {
    /*border-left: 1px solid #e5e5e5;*/
    height: 100%; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.main {
  padding-top: 80px; }

.push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.main-content {
  margin: 15px 0; }

.tpl-tab {
  z-index: 1000; }

.tpl-items {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 58px auto 0 auto;
  padding-bottom: 10px; }
  .tpl-items .pagination {
    margin: 0; }

.tpl-item-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .tpl-item-list > li {
    margin: 0;
    padding: 15px 0; }
    .tpl-item-list > li h2 {
      font-size: 20px;
      margin: 0 0 10px 0;
      text-align: center; }
    .tpl-item-list > li img {
      width: 100%; }
    .tpl-item-list > li.clearfix {
      padding: 0; }

.tpl-filter {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 58px auto 0 auto;
  padding-top: 20px; }
  .tpl-filter hr {
    margin-left: 15px;
    margin-right: 15px; }

.tpl-frame-container {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100%;
  height: 100%; }
  .tpl-frame-container iframe {
    border: 0;
    width: 100%;
    height: 100%; }
