//if lt IE 9
    script(src="/vendor/jquery/jquery-1.10.2.min.js")

//[if gte IE 9]><!
script(src="/vendor/jquery/jquery-2.0.3.min.js")
//<![endif]

script(src="/vendor/bootstrap/js/bootstrap.min.js")