extends ../layouts/backend

block heading
    h1 Dashboard

block content
    ul.nav.nav-tabs
        li.active
            a(href="#activityTab", data-toggle="tab") Activities
        li
            a(href="#statsTab", data-toggle="tab") Statistic

    div.tab-content
        // Activities tab
        div#activityTab.tab-pane.active
            div.row
                div.col-lg-6
                    div.panel.panel-default
                        div.panel-heading
                            | Recent downloads
                            a#refreshRecentDownloads(href="#")
                                i.pull-right.fa.fa-refresh
                        table.table
                            thead
                                tr
                                    th File
                                    th Package
                                    th # Downloads
                                    th By
                            tbody#recentDownloads
                                tr#recentDownloadRow.hide
                                    td
                                        div {{file.name}}
                                        small {{file.size}}
                                    td
                                        a {{package.name}}
                                    td {{file.num_downloads}}
                                    td
                                        div {{user_name}}
                                        small ({{downloaded_date}})
                        div.panel-body.text-center(style="display: none;")
                            i.fa.fa-spin.fa-refresh

        // Stats tab
        div#statsTab.tab-pane
            div.row
                div.col-lg-6
                    div.page-header
                        h3
                            | Top files&nbsp;
                            small which have been downloaded most
                    div.panel.panel-primary
                        div.panel-heading Today and Yesterday
                        div.topFiles(data-days="2")

                    div.panel.panel-success
                        div.panel-heading Last 7 days
                        div.topFiles(data-days="7")

                    div.panel.panel-info
                        div.panel-heading Last 30 days
                        div.topFiles(data-days="30")

                div.col-lg-6
                    div.page-header
                        h3
                            | Top accounts&nbsp;
                            small who have downloaded most

                    div.panel.panel-primary
                        div.panel-heading Today and Yesterday
                        div.topAccounts(data-days="2")

                    div.panel.panel-success
                        div.panel-heading Last 7 days
                        div.topAccounts(data-days="7")

                    div.panel.panel-info
                        div.panel-heading Last 30 days
                        div.topAccounts(data-days="30")

block footerScript
    script(type="text/javascript", src="/vendor/filesize/filesize.min.js")
    script(type="text/javascript", src="/vendor/moment/moment.min.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript").
        // Top downloads of day
        google.load('visualization', '1.0', {'packages': ['corechart']});
        google.setOnLoadCallback(function() {
            $(function() {
                function showTopFiles(days, limit) {
                    var width = $('.topFiles').eq(0).width();
                    limit = limit || 5;
                    $.post('/admin/dashboard/file', {
                        days: days,
                        limit: limit
                    }).success(function(response) {
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'File');
                        data.addColumn('number', '#Downloads');
                        $.each(response, function(index, file) {
                            data.addRow(
                                [file.name + (file.description ? ' - ' + file.description : ''), file.num_downloads]
                            );
                        });

                        var container = $('.topFiles[data-days="' + days + '"]').get(0),
                            chart     = new google.visualization.PieChart(container);
                        chart.draw(data, {
                            //width: width,
                            height: 220,
                            fontName: 'Lato',
                            fontSize: 12,
                            chartArea: {
                                left: 0,
                                top: 10,
                                width: '100%',
                                height: 200
                            }
                        });
                    });
                };

                function showTopAccounts(days, limit) {
                    limit = limit || 5;
                    $.post('/admin/dashboard/account', {
                        days: days,
                        limit: limit
                    }).success(function(response) {
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Account');
                        data.addColumn('number', '#Downloads');
                        $.each(response, function(index, account) {
                            data.addRow(
                                [account._id, account.num_downloads]
                            );
                        });

                        var container = $('.topAccounts[data-days="' + days + '"]').get(0),
                            chart     = new google.visualization.PieChart(container);
                        chart.draw(data, {
                            //width: width,
                            height: 220,
                            fontName: 'Lato',
                            fontSize: 12,
                            chartArea: {
                                left: 0,
                                top: 10,
                                width: '100%',
                                height: 200
                            }
                        });
                    });
                };

                showTopFiles(2);
                showTopFiles(7);
                showTopFiles(30);

                showTopAccounts(2);
                showTopAccounts(7);
                showTopAccounts(30);
            });
        });

        $(document).ready(function() {
            // Show recent downloads
            $('#refreshRecentDownloads').click(function() {
                $('#recentDownloads')
                    .find('tr').not('.hide').remove().end()
                    .parents('.panel').find('.panel-body').toggle();
                $.post('/admin/dashboard/download', {
                    limit: 5
                }).success(function(response) {
                    $('#refreshRecentDownloads').parents('.panel').find('.panel-body').toggle();
                    $.each(response, function(index, download) {
                        $('<tr/>').html(
                            $('#recentDownloadRow')
                                .html()
                                .replace('{{file.name}}', download.file.name.length > 30 ? download.file.name.substr(0, 30) + '...' : download.file.name)
                                .replace('{{file.size}}', filesize(download.file.size))
                                .replace('{{file.num_downloads}}', download.file.num_downloads)
                                .replace('{{package.slug}}', download.package ? download.package.slug : '-')
                                .replace('{{package.name}}', download.package ? download.package.name : '-')
                                .replace('{{user_name}}', download.user_name)
                                .replace('{{downloaded_date}}', moment(download.downloaded_date).fromNow())
                        ).appendTo('#recentDownloads')
                        .find('td').eq(1)
                            .find('a').attr('href', !download.package ? '#' : ('template' == download.package.type ? '#{frontEndUrl}#' + download.package.slug : (download.package.demo_url || '#')))
                    });
                });
            }).click();
        });