extends default

block content
    div.page-header
        h2 Not found!
        small Sorry, the page you're looking for is not found

    div.text-center
        p
            i.fa.fa-exclamation-triangle.fa-5x

        a.btn.btn-success(href="#{frontEndUrl}") Visit the demo