!!! 5
html
    include ../partial/head
    body
        .wrapper
            include ../partial/header
            .container
                .main
                    block content
            .push
        include ../partial/footer
        include ../partial/foot